<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Status of {{result.operationcateogry}} the {{result.cateogry}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {{result.output}} the {{result.cateogry}}
        <br></br>
        
        
        <script src="" async defer></script>
    </body>
</html>